* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: rgb(78, 77, 77);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.animal-input {
  margin: 20px;
  font-size: 1rem;
  padding: 5px 10px;
  width: 200px;
}

.button {
  font-size: 1rem;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  width: 200px;
}

.user-name {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.label {
  display: inline;
  gap: 10px;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

input[type="radio"] {
  display: inline;
  margin: 0;
  width: 16px;
  height: 16px;
}
.toggle {
  cursor: pointer; /* Changes the cursor to a pointer when hovering over the radio button */
}

.display-hover-label {
  margin-bottom: 20px;
}

@media (max-width: 420px) {
  .animal-input,
  .button,
  .user-name,
  .display-click-label,
  .display-hover-label {
    font-size: 0.875rem; /* Adjust font size for smaller screens */
  }
}
